@font-face {
  font-family: 'TBC';
  src: url('./fonts/file.woff2');
}

@font-face {
  font-family: 'TBC bold';
  src: url('./fonts/file \(2\).woff2');
}

@font-face {
  font-family: 'TBC normal';
  src: url('./fonts/file \(3\).woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'TBC', Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

