.slider-container{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #2b2b2b;
    padding: 40px 0;
}
.slider-container > h3 {
    max-width: 970px;
    padding: 15px 0;
    width: 100%;
    margin: auto;
    color: #f4f4f4;
    font-size: 24px;
}
.slider-button{
    fill: #fff;
    cursor: pointer;
    -webkit-transition: fill 0.4s;
    -o-transition: fill 0.4s;
    transition: fill 0.4s;
}
.slider-button:hover{
    fill: rgb(153,151,151);
}

.next{
    rotate: 180deg;
}

.slider{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 80px 100px;
}
.slider-content{
    max-width: 970px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap:  30px;
}
.slider-images{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.justify-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.justify-between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.slider-images > img {
    width: 280px;
    height: 80px;
    -o-object-fit: contain;
       object-fit: contain;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.slider-dots{
    max-width: 970px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12px;
}
.dot{
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #e8e6e6;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.chosen-dot{
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}
.dot:hover{
    background-color: #fff;
}


@media screen and (max-width: 1400px) {
    .slider-controls{
        display: none;
    }
    .slider{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .slider-images > img {
        width: 200px;
        height: 60px;
    }
}
@media screen and (max-width: 1200px) {
    .slider-images{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 220px;
        gap: 20px;
    }
    .slider-container > h3{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }
    .slider{
        padding: 10px 0;
        height: 310px;
    }
}